<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo"><a href="/"><img src="/img/babi_coin.svg" alt="Logo coin"></a></div>
        
        <nav>
            <a href="/">Inicio</a>
            <a href="/">financas</a>
            <a href="/">projetos</a>
        </nav>
    </header>
    <main>{{{body}}}</main>
    <footer>
        <p>Created by: lhcodes</p>
        <div id="lhcodes">logo</div>

    </footer>
</body>
</html>