<head>
    <link rel="stylesheet" href="home_log.css">
</head>



<div>
    <h1>Olá, {{dt.nome}}</h1>
    <div>
        <div class="home_log">

            <div id="saldo">
                <h2>Saldo:</h2>
                <p>R$ {{dt.sal}}</p>
            </div>

            <div id="projetos">
                <h3>Projetos</h3>
                
                <div>
                    <h2>Investimentos</h2>
                    <p>{{dt.inv}}</p>
                </div>
                <div>
                    <h2>dividas</h2>
                    <p>{{dt.div}}</p>
                </div>
                
                

            </div>
            

        </div>
    </div>
</div>