<head>
    <link rel="stylesheet" href="main.css">
</head>

<div>
    <h1>Babilonia coin</h1>
    <p>Planejamento finaceiro na palma da mão</p>
    <img src="/img/default-home.svg" alt="">
    <h2>Crie seu projeto</h2>
    <button type="button" onclick="window.location.href = '/cadastro'">Criar projeto</button>
    

</div>